In [ ]:
#Question 1, Steps 1, 2 and 3
import pandas as pd
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|')
users.head()

In [ ]:
#Question 1 Step 4
occu_age_mean = users.groupby('occupation').agg({'age':['mean']})
print(occu_age_mean)

In [ ]:
#Question 1 Step 5
users[users['gender']=='M'].groupby('occupation')['gender'].count().sort_values(ascending=False)

In [ ]:
#Question 1 Step 6
occu_age_minmax = users.groupby('occupation').agg({'age':['min', 'max']})
print(occu_age_minmax)

In [ ]:
#Question 1 Step 7
users.groupby(['occupation','gender'])['age'].mean()

In [ ]:
#Question 1 Step 8
import math
gen_count = users.groupby(['occupation','gender'])['gender'].count()
percentage = gen_count.groupby(level=0).apply(lambda x: round(100 * x / x.sum(),2))
percentage

In [ ]:
#Question 2, Steps 1, 2 and 3
import pandas as pd
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')
euro12.head()

In [ ]:
#Question 2, Step 4
euro12['Goals']

In [ ]:
#Question 2, Step 5
print ("Number of teams =",euro12['Team'].count())

In [ ]:
#Question 2, Step 6
print("Number of Columns =", euro12.shape[1])

In [ ]:
#Question 2, Step 7
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline.head()

In [85]:
#Question 2, Step 8

In [ ]:
#Question 2, Step 9
discipline.groupby('Team')['Yellow Cards'].mean()

In [ ]:
#Question 2, step 10
teamsGT6 = euro12[(euro12.Goals>6)]
teamsGT6.head()

In [ ]:
#Question 2, Step 11
teamsSW_G = euro12[euro12.Team.str[0]=='G']
teamsSW_G.head()

In [ ]:
#Question 2, Step 12
first7 = euro12[0:7]
first7

In [ ]:
#Question 2 Step 13
col_exc_last3 = euro12.iloc[:,0:32]
col_exc_last3

In [ ]:
#Question 2, Step 14
shoot_acc = euro12[['Team', 'Shooting Accuracy']]
SA_4_EIR = shoot_acc[shoot_acc.Team.isin(["England","Italy", "Russia"])]
SA_4_EIR

In [ ]:
#Question 3, Steps 1, 2 and 3
import pandas as pd
import numpy as np


serie1 = pd.Series(np.random.randint(1,5,size=100)) #inclusive of 4
serie2 = pd.Series(np.random.randint(1,4,size=100)) # inclusive of 3
serie3 = pd.Series(np.random.randint(10000,30001,size = 100)) # inclusive of 30000

df1 = pd.DataFrame({'bedrs':serie1, 'bathrs':serie2, 'price_sqr_meter':serie3})
df1

In [ ]:
#Question 3, steps 5, 6 and 7
serielist = serie1
serielist2 = serielist.append(serie2)
totalserielist = serielist2.append(serie3)
bigcolumn = pd.DataFrame({'Big Column': totalserielist})
bigcolumn

In [ ]:
# Question 4, Steps 1, 2, 3, 4 and 5
import pandas as pd
import numpy as np
import datetime

data = pd.read_fwf('wind.txt')
date = data.apply(lambda x: datetime.date(int(x['Yr']+1900), int(x['Mo']), int(x['Dy'])),axis=1)
date = date.astype('datetime64[ns]')
data = data.drop(columns=['Yr', 'Mo', 'Dy'])
data.insert(0, 'Date',date)
data

In [ ]:
#Question 4,Step 6
data.isnull().sum()

In [51]:
#Question4, Step 7
data.notnull().sum().sum()

85431

In [100]:
#Question 4, Step 8
# remove rows with null values
data.dropna(inplace=True)
#check if they have been removed successfuly
data.isnull().sum().sum()

data_nodate = data.iloc[1:,1:13]
mean =  meandata.sum().sum() / meandata.count().sum()
print(mean)

10.223015788133434

In [ ]:
#Question 4, Step 9
loc_stat = data_nodate.aggregate(['min','max','mean','std'])
loc_stat

In [ ]:
#Question 4, Step 10
day_stat= data.groupby('Date').aggregate(['min','max','mean','std'])
day_stat

In [106]:
#Question 4, Step 11
data['Month'] = data['Date'].dt.month
jan_data = data[(data.Month == 1)]
jan_data.aggregate({"RPT":['mean'],"VAL":['mean'],"ROS":['mean'],"KIL":['mean'],"SHA":['mean'],"BIR":['mean'],"DUB":['mean'],
                   "CLA":['mean'],"MUL":['mean'],"CLO":['mean'],"BEL":['mean'],"MAL":['mean']})

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
mean,14.831609,12.885389,13.276275,7.152477,11.644467,8.030561,11.788336,9.486962,9.511501,10.024069,14.527848,18.041826

In [ ]:
#Question 5, Steps 1, 2, 3, and 4
import pandas as pd
import numpy as np

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter = '\t')
chipo[0:10]

In [260]:
#Question 5, step 5
print('Number of Observations='chipo.shape[0]

4622

In [138]:
#Question 5, Step 6
print("Number of Columns =",chipo.shape[1])

Number of Columns = 5

In [140]:
#Question 5, step 7
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [141]:
#Question 5, step 8
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [137]:
#Question 5, Steps 9 and 10
most_ordered_item = chipo.groupby('item_name')['quantity'].max().sort_values(ascending = False)
most_ordered_item[:1]

item_name
Chips and Fresh Tomato Salsa    15
Name: quantity, dtype: int64

In [ ]:
#Question 5, Step 11
chipo.groupby('choice_description').max()

In [131]:
#Question 5, Step 12
print("Total Number of Items = ",chipo['quantity'].sum())

Total Number of Items =  4972

In [ ]:
#Question 5, step 13

#first check datapye of item_price
print(chipo.dtypes)

#now create a convertion dictionary to change item_price to float
conv_dic = {'item_price':float}
chipo_price_float = chipo.astype(conv_dic)
print(chipo_price_float.dtypes)
chipo['item_price'] = chipo.apply(lambda x: float(x['item_price'].replace('$', '')),axis=1)
print(chipo.dtypes)

In [160]:
#Question 5, step 14
#first multiply quantity and price columns

chipo['Q*P'] = chipo['quantity'] * chipo['item_price']

#then sum the multiplied column to get revenue
revenue = chipo['Q*P'].sum()
print('Revenue = $',revenue)

Revenue = $ 39237.02

In [162]:
#Question 5, step 15

#number of orders = total quantity ordered
tot_order = chipo['quantity'].sum()
print('Number of Orders = ',tot_order)

Number of Orders =  4972

In [ ]:
#Question 5, step 16
chipo.groupby(['item_name','quantity'])['item_price'].mean()

In [170]:
#Question 5, step 17
n = chipo.item_name.nunique()
print ('Number of different items sold = ', n)

Number of different items sold =  50

In [ ]:
#Question 6
import matplotlib.pyplot as plt
%matplotlib inline

us_mar_div = pd.read_csv('us-marriages-divorces-1867-2014.csv')

#set columns to plot
columns = us_mar_div.columns.drop(['Year','Marriages', 'Divorces','Population'])

x_data = range(0, us_mar_div.shape[0])

fig, ax = plt.subplots()
for column in columns:
    ax.plot(x_data, us_mar_div[column])

ax.set_title('Marriages / Divorce per Capita')
ax.legend(columns)
ax.set_xlabel('Years 1867 - 2014')
ax.set_ylabel('Count')

In [ ]:
#Question 7
allyear = us_mar_div[['Year', 'Marriages_per_1000', 'Divorces_per_1000']]
#allyear
year3_comp = allyear[allyear.Year.isin([1900,1950,2000])]
#SA_4_EIR = shoot_acc[shoot_acc.Team.isin(["England","Italy", "Russia"])]
import plotly.graph_objects as go

fig = go.Figure(data=[
    go.Bar(name='Marriages per Capita', x=year3_comp['Year'], y=year3_comp['Marriages_per_1000']),
    go.Bar(name='Divorces per Capita', x=year3_comp['Year'], y=year3_comp['Divorces_per_1000'])
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.show()

In [ ]:
#Question 8
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

actors = pd.read_csv('actor_kill_counts.csv')

actor = actors['Actor']
count = actors['Count']
#ax = actors['Actor'].('Count').sort_index()

colours = ['#C4E57D','#2AC280','#FFAE39','#DC5B3B','#52E397','#C5CBA3','#9CD5F6','#6E50D9','#9A5E59','#9BC8F5']
   
plt.barh(actor,count, align='center', color=colours)
plt.title('Actors and their kill counts')
plt.ylabel('Actors')
plt.xlabel('Kill Count')
plt.show

In [ ]:
#Question 9
import plotly.express as px

emperors = pd.read_csv('roman-emperor-reigns.csv')

fig = px.pie(emperors,  names='Cause_of_Death')
fig.show()

In [ ]:
#Question 10
import seaborn as sns

arc_vs_cs = pd.read_csv('arcade-revenue-vs-cs-doctorates.csv')
sns.scatterplot(x='Total Arcade Revenue (billions)', y='Computer Science Doctorates Awarded (US)', hue='Year', palette ='deep',data=arc_vs_cs)